
<div class="navbar">
    <ul>
        <li class="name-li " ><a href="/" style="font-size: 2em; color:white;">Deepak.</a></li>
        <li><a href="/contact" style="font-size: 1.5em;">Contact</a></li>
        <li><a href="/project" style="font-size: 1.5em;">Projects</a></li>
        <li><a href="/about" style="font-size: 1.5em;">About</a></li>
      </ul>
</div>
<style>
    navbar.a{
      justify-content: space-between;
      font-family: 'poppin',sans-serif;
      color: white;
    }

    ul{
      
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
  } 
  
  li {
    float: right;
  }
  .name-li{
    float: left;
  }
  
  li a {
    display: inline;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: auto;
  } 
  
   li a:hover,
   li a.active{
   color: #0ef;
  }
</style>